/* 전체 중앙 레이아웃 */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

/* body 기본값 */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

input, textarea {
    width: 100%;
}

button {
    padding: 12px;
    margin: 10px 0;
    background: black;
    color: white;
    cursor: pointer;
    width: auto;     
}
header, footer {
    margin: 0;
    padding: 0;
    
}
#hero {
    text-align: center;
}
header, nav, .header .container {
    text-align: center;
}
section {
    text-align: center;
}
footer {
    text-align: center;
}